
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    <meta name="description" content="">
                        <meta name="author" content="">
                            <link rel="icon" href="../../favicon.ico">
                                
                                <title>Starter Template for Bootstrap</title>
                                
                                <!-- Latest compiled and minified CSS -->
                                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
                                    
                                    <!-- Optional theme -->
                                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
                                        
                                        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
                                        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
                                        <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
                                        
                                        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
                                        <!--[if lt IE 9]>
                                         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                                         <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
                                         <![endif]-->

                                        <!-- adding angular -->
                                           <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
                                            <link rel="stylesheet" href="css/app.css">

                                        </head>
  
  <style>
      
      .jumbotron {
          padding: 0.1em ;
          p {
              font-size: 1.2em;
              .btn {
                  padding: 0.0em;
              }
          }
      }
  
  .vertical-center {
      height:100%;
      width:100%;
      
      text-align: right;  /* align the inline(-block) elements horizontally */
      /* remove the gap between inline(-block) elements */
  }
  
      </style>
  
  
  
  
  
   <body>
       
       
        <div class="navbar-wrapper">
            <div class="container">
                
                <nav class="navbar navbar-inverse navbar-static-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">GetExperts</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="#">Home</a></li>
                                <!-- <li><a href="#">Create Business Profile </a></li>
                                 <li><a href="#contact">Create Expert Profile</a></li> -->
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <div class = "nav navbar-nav">
                                    <form class="navbar-form" role="search">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search" name="q">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                                </div>
                                                </div>
                                    </form>
                                </div>
                                <li><a href="#">About Us </a></li>
                                <li><a href-"#">Contact Us</a></li>
                            </ul>
                        </div> <!-- write what it connects to -->
                    </div>
                </nav>
                
            </div>
        </div>

       <!--Just my headers !-->
        <div class="jumbotron vertical-center">
            <div class="container">
                <h2>Create a Business Profile</h2>
                <br>
            </div>
        </div>
        
        <!--Input Fields !-->
        <div ng-app = "BusinessForm" class="container">

            <h2>Background</h2>
            <br>

            <!--ANGULAR PORTION --> <!--add required part -->
            <div ng-controller="BFormController">
                <form name="bForm" class="form-horizontal" novalidate>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="compname">Name of Company :</label>
                        <div class="col-sm-4">
                            <input type="Text" ng-model="business.companyName"  class="form-control" id="compname" placeholder="Enter Degree">
                        </div>
                    </div>
                
                    <div class="container">
                        <h5>Upload Company Logo</h5>
                    </div>
                <div class="fileupload fileupload-new" data-provides="fileupload">
                    
                    <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"></div>
                    <div>
                        <span class="btn btn-file">
                            <input type="file" ng-model="business.logo" />
                        </span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="ccity">Current City:</label>
                    <div class="col-sm-4">
                        <input type="text" ng-model="business.currentCity" class="form-control" id="ccity" placeholder="Current City">
                            </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="state">State:</label>
                    <div class="col-sm-4">
                        <input type="text" ng-model= "business.state" class="form-control" id="state" placeholder="State">
                            </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="county">Country:</label>
                    <div class="col-sm-4">
                        <input type="text" ng-model="business.country" class="form-control" id="country" placeholder="Country">
                            </div>
                </div>
                
                <div class="container">
                    <label class="checkbox-inline"><input type="checkbox" value="">Keep This Information Private</label>
                </div>
                
                <div class="container">
                    <hr>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="comment">Description about company:</label>
                    <div class="col-sm-5">
                        <textarea class="form-control" ng-model="business.description" rows="5" id="comment"></textarea>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="state">Number of Employees:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" ng-model="business.numEmployees" id="numEmployees" placeholder="Enter">
                            </div>
                </div>
                
                <div class="container">
                    <label class="checkbox-inline"><input type="checkbox" value="">Keep This Information Private</label>
                </div>
                
                <div class="container">
                    <hr>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="state">URL/Webpage of Company:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" ng-model="business.url" id="state" placeholder="Enter URL">
                            </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="comment">Contact Information:</label>
                    <div class="col-sm-5">
                        <textarea class="form-control " rows="5" ng-model="business.contactInfo" id="comment"></textarea>
                    </div>
                </div>
                
                <div class="container">
                    <label class="checkbox-inline"><input type="checkbox" value="">Keep This Information Private</label>
                </div>
                
                
                
                


    <br>
    <br>

        
        <div class="col-sm-3">
            <div class="container">
                <a href="/businessHP" type="submit" ng-click="save(business)" class="btn btn-info pull-right" role="button">Publish Profile!</a>

               
            </div>
        </div>
    
                </form>
        </div>
        
        <div class="container">
            <br>
            <br>
        </div>
        
        <div class="jumbotron vertical-center">
            
            <div class="container">
                
                <h1 align = "left">GetExperts</h1>
                <h4 align = "right">555-555-5555</h4>
                <h4 align = "right">getexpertsteam@gmail.com</h4>
                
            </div>
        </div>
        
        
        
        <!--PROGRESS BARS !-->

     

        
        
        <!-- Bootstrap core JavaScript
         ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
         <script src="bower_components/angular/angular.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular.min.js"></script>
         <script src="../controllers/formBScript.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
