
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    <meta name="description" content="">
                        <meta name="author" content="">
                            <link rel="icon" href="../../favicon.ico">
                                
                                
                                <title>Starter Template for Bootstrap</title>
                                
                                <!-- Latest compiled and minified CSS -->
                                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
                                    
                                    <!-- Optional theme -->
                                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
                                        
                                        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
                                        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
                                        <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
                                        
                                        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
                                        <!--[if lt IE 9]>
                                         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                                         <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
                                         <![endif]-->
                                        </head>
    
    <style>
        
        .jumbotron {
            p {
                .btn {
                    padding: 0.0em;
                }
            }
        }
    
        </style>
    
    
    <body>
        <div class="navbar-wrapper">
            <div class="container">
                
                <nav class="navbar navbar-inverse navbar-static-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">GetExperts</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="#">Home</a></li>
                                <!-- <li><a href="#">Create Business Profile </a></li>
                                 <li><a href="#contact">Create Expert Profile</a></li> -->
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <div class = "nav navbar-nav">
                                    <form class="navbar-form" role="search">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search" name="q">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                                </div>
                                                </div>
                                    </form>
                                </div>
                                <li><a href="#">About Us </a></li>
                                <li><a href-"#">Contact Us</a></li>
                            </ul>
                        </div> <!-- write what it connects to -->
                    </div>
                </nav>
                
            </div>
        </div>
        
        
         <div class="container">
            
            <div class="row row-offcanvas row-offcanvas-right">
                
                <div class="col-xs-12 col-sm-9">
                    <p class="pull-right visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                    </p>
                    <div class="jumbotron">
                        <h1>Hello, Tylenol!</h1>
                        <p>You have <b>2</b> new Suggested Expert(s).</p>
                        <p>You have <b>1</b> new Proposal Submission(s).</p>
                    </div>
                    
                    
                    
                    
                    <!-- Example row of columns -->
                    <h1>My Profile</h1>
                   
                      
                            <h3>About Company</h3>
                            
 <p>From the beginning, we hit the ground running. See how far we’ve come to be one of the leading over-the-counter pharmaceutical companies in the world.</p>
                            <h3>Webpage</h3>
                            <p>www.tylenol.com</p>
 
                            
                        

                        
                        
                    
                    
                    <br>
                    <br>
                    <p><a class="btn btn-primary" href="#" role="button">View Full Profile &raquo;</a></p>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                </div><!--/.col-xs-12.col-sm-9-->
                
                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                    
                    
                    <div class="list-group">
                       
                      <a href="#" class="btn btn-info btn-lg">Create Project</a>
                      
                      <div = "container">
                          
                          <hr>
                      </div>
                      
                      
                        <div>
                            <a href="#" class="list-group-item active">
                                <h4>myProjects</h4>
                            </a>
                            <a href="/businessMyProjectA" class="list-group-item">Project A</a>
                            <a href="#" class="list-group-item">Project B</a>
                            <a href="#" class="list-group-item">Project C</a>
                            <a href="#" class="list-group-item">Project D</a>
                        </div>
                        
                    </div>
                    
                    
                    <a href="#" style="float: right;">View all myProjects</a>
                    
                    
                    <div = "container">
                        <br>
                    </div>
                    
                    
                    <div = "container">
                        
                        <hr>
                    </div>
                    
                    
                    <div>
                        <a href="#" class="list-group-item active">
                            <h4>Suggested Experts</h4>
                        </a>
                        <a href="#" class="list-group-item"><span class="badge"><i>New</i></span>Name A</a>
                        <a href="#" class="list-group-item"><span class="badge"><i>New</i></span>Name B</a>
                        <a href="#" class="list-group-item">Name C</a>
                        <a href="#" class="list-group-item">Name D</a>
                    </div>
                    
                    <div = "container">
                        <br>
                    </div>
                    
                    <a href="#" style="float: right;">View all Suggested Projects</a>
                    
                    <div = "container">
                        <br>
                    </div>
                    
                    <div = "container">
                        
                        <hr>
                    </div>
                    
                    
                    
                    
                    <div>
                        <a href="#" class="list-group-item active">
                            <h4>Proposal Submissions</h4>
                        </a>
                        <a href="#" class="list-group-item"><span class="badge"><i>Unread</i></span>Project A - NameA</a>
                        <a href="#" class="list-group-item"><span class="badge"><i>Read</i></span>Project B - NameB</a>
                        <a href="#" class="list-group-item"><span class="badge"><i>New</i></span>Project C - NameC</a>
                        <a href="#" class="list-group-item"><span class="badge"><i>Read</i></span>Project D - NameD</a>
                    </div>
                    
                    <div = "container">
                        <br>
                    </div>
                    
                    <a href="#" style="float: right;">View all Proposal Submissions</a>
                    
                    <div = "container">
                        <br>
                        <br>
                    </div>
                    
                    
                    
                </div><!--/.sidebar-offcanvas-->
                
                
            </div><!--/row-->
            
            <hr>
            
            <footer>
                <p>&copy; Company 2014</p>
            </footer>
            
        </div><!--/.container-->
        
        <div class="container">
            <br>
            <br>
        </div>
        
        
        <div class="jumbotron vertical-center">
            
            <div class="container">
                
                <h1 align = "left">GetExperts</h1>
                <h4 align = "right">555-555-5555</h4>
                <h4 align = "right">getexpertsteam@gmail.com</h4>
                
            </div>
        </div>        
        

	<!-- Bootstrap core JavaScript
         ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
