
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    <meta name="description" content="">
                        <meta name="author" content="">
                            <link rel="icon" href="../../favicon.ico">
                                
                                <title>Starter Template for Bootstrap</title>
                                
                                <!-- Latest compiled and minified CSS -->
                                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
                                    
                                    <!-- Optional theme -->
                                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
                                        
                                        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
                                        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
                                        <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
                                        
                                        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
                                        <!--[if lt IE 9]>
                                         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                                         <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
                                         <![endif]--> 

                                        <link href="stylesheets/custom.css" rel="stylesheet">
                                        <link href="stylesheets/navbar.css" rel="stylesheet">
                                        <link href="stylesheets/font.css" rel="stylesheet">
</head> 

  <style>

      .jumbotron {
          padding: 0.1em ;
          p {
              font-size: 1.2em;
              .btn {
                  padding: 0.0em;
              }
          }
      }
  
  .vertical-center {
      height:100%;
      width:100%;
      
      text-align: right;  /* align the inline(-block) elements horizontally */
      /* remove the gap between inline(-block) elements */
  }
  
      </style>
  
  
  
  
  
   <body>
       
       

<nav class="navbar navbar-custom">
<div class="navbar-header">

<a class="navbar-brand" href="#">GetExperts</a>
</div>

<div id="navbar" class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li><a href="#">Home</a></li>
<!-- <li><a href="#">Create Business Profile </a></li>
<li><a href="#contact">Create Expert Profile</a></li> -->
</ul>

<ul class="nav navbar-nav navbar-right">
<div class = "nav navbar-nav">
<form class="navbar-form" role="search">
<div class="input-group">
<input type="text" class="form-control" placeholder="Search" name="q">
<div class="input-group-btn">
<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
</div>
</div>
</form>
</div>
<li><a href="#">About Us </a></li>
<li><a href-"#">Contact Us</a></li>
</ul>



</nav>





            </div>
        </div>

       <!--Just my headers !-->
        <div  style="background:LightSeaGreen         !important" class="jumbotron vertical-center">
            <div class="container">
                <h2>Create a Business Profile</h2>
                <br>
            </div>
        </div>

        <!-- add flash messages -->

        <!--Input Fields !-->
        <div class="container">
            <h2>Background</h2>
            <br>

            <form action="/createBProfile" method="post" class="form-horizontal">


 
                <div class="form-group">
                    <label class="control-label col-sm-2" for="companyName">Name of Company :</label>
                    <div class="col-sm-4">
                        <input type="Text" class="form-control" id="companyName" name="companyName" placeholder="Enter Degree">
                            </div>
                </div>
                
                    <div class="container">
                        <h5>Upload Company Logo</h5>
                    </div>
                <div class="fileupload fileupload-new" data-provides="fileupload">
                    
                    <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"></div>
                    <div>
                        <span class="btn btn-file">
                            <input type="file" />
                        </span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="currentCity">Current City:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="currentCity" placeholder="Current City">
                            </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="State">State:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="State" placeholder="State">
                            </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="County">Country:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="Country" placeholder="Country">
                            </div>
                </div>
                
                <div class="container">
                    <label class="checkbox-inline"><input type="checkbox" value="">Keep This Information Private</label>
                </div>
                
                <div class="container">
                    <hr>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="description">Description about company:</label>
                    <div class="col-sm-5">
                        <textarea class="form-control " rows="5" name="description"></textarea>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="numOfEmployees">Number of Employees:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="numOfEmployees" placeholder="Enter">
                            </div>
                </div>
                
                <div class="container">
                    <label class="checkbox-inline"><input type="checkbox" value="">Keep This Information Private</label>
                </div>
                
                <div class="container">
                    <hr>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="webpage">URL/Webpage of Company:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="webpage" placeholder="Enter URL">
                            </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="contactInfo">Contact Information:</label>
                    <div class="col-sm-5">
                        <textarea class="form-control " rows="5" name="contactInfo"></textarea>
                    </div>
                </div>
                
                <div class="container">
                    <label class="checkbox-inline"><input type="checkbox" value="">Keep This Information Private</label>
                </div>
                
                
                
                


    <br>
    <br>


        
        <div class="col-sm-3">
            <div class="container">
                <button type="submit" class="btn btn-info btn-purple pull-right"> Publish Profile!</a>
            </div>
        </div>
    

    





                </form>
        </div>
        
        <div class="container">
            <br>
            <br>
        </div>
        
         <div class="background:LightSeaGreen jumbotron vertical-center" style="background:LightSeaGreen         !important">
            <div class="container">
                
                <h1 align = "left">GetExperts</h1>
                <h4 align = "right">555-555-5555</h4>
                <h4 align = "right">getexpertsteam@gmail.com</h4>
                
            </div>
        </div>
        
        
        
        <!--PROGRESS BARS !-->

     

        
        
        <!-- Bootstrap core JavaScript
         ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
