body {
   background:Gray         !important;
}

.progress {background: rgba(245, 245, 245, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 4px; height: 20px;}
.progress-bar-custom {background: rgba(219, 106, 31, 1);}

.btn-purple {
    background: #db6a1f;
    border-color: #db6a1f;
}

#top-menu .current a
{
    color: white !important;
}