
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    <meta name="description" content="">
                        <meta name="author" content="">
                            <link rel="icon" href="../../favicon.ico">
                                
                                <title>Starter Template for Bootstrap</title>
                                
                                <!-- Latest compiled and minified CSS -->
                                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
                                    
                                    <!-- Optional theme -->
                                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
                                        
                                        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
                                        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
                                        <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
                                        
                                        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
                                        <!--[if lt IE 9]>
                                         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                                         <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
                                         <![endif]-->
                                         <link rel="stylesheet" type="text/css" href="stylesheets/custom.css">
                                            <link rel="stylesheet" type="text/css" href="stylesheets/navbar.css">
                                             <link rel="stylesheet" type="text/css" href="stylesheets/font.css">
                                        </head>
    
    <style>
        
        .jumbotron {
            padding: 0.1em ;
            p {
                font-size: 1.2em;
                .btn {
                    padding: 0.0em;
                }
            }
        }
    
    .vertical-center {
        height:100%;
        width:100%;
        
        text-align: right;  /* align the inline(-block) elements horizontally */
        /* remove the gap between inline(-block) elements */
    }
        
    </style>
    
    
    
    
    
    <body>

                
                    <nav class="navbar navbar-custom">
                        <div class="navbar-header">
  
                            <a class="navbar-brand" href="#">GetExperts</a>
                        </div>
                        
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="#">Home</a></li>
                                <!-- <li><a href="#">Create Business Profile </a></li>
                                 <li><a href="#contact">Create Expert Profile</a></li> -->
                            </ul>
                            
                            <ul class="nav navbar-nav navbar-right">
                                <div class = "nav navbar-nav">
                                    <form class="navbar-form" role="search">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search" name="q">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                                </div>
                                                </div>
                                    </form>
                                </div>
                                <li><a href="#">About Us </a></li>
                                <li><a href-"#">Contact Us</a></li>
                            </ul>
                            
                            
                            
                            </nav>

        
        
        
        
        
     
        <!--Just my headers !-->


        
        <!--Input Fields !-->
      
            


            <form class="form-horizontal" role="form">
                

                
                   <div style="background:LightSeaGreen         !important" class="jumbotron vertical-center">
                        <div class="container">
                        <h2>Create an Expert Profile</h2>
                        <br>
                        </div>
                    </div>
                    
                     <div class="container"> 
                    <div class="container">
                    <h2>Background Information</h2>
                    <p>*-Indicates Required Fields</p>
                    </div>
  
  
  
                        <div class="progress">
                             <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                <span class="sr-only">20% Complete</span>
                            </div>
                        </div>
                    
                

                
                <!--First Name, Middle Initial,  !-->
                <div class = "row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="fname">First Name:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="fname" placeholder="Enter first name">
                            </div>
                        </div>
                        
                        
                        <div class="container">
                            <br>
                        </div>
                        
                        
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="MI">Middle Initial:</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="MI" placeholder="MI">
                                    </div>
                        </div>
                        
                        <div class="container">
                            <br>
                        </div>
                        
                        <!--Last Name !-->
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="lname">Last Name:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="lname" placeholder="Enter last name">
                                    </div>
                        </div>
                    </div>
            
                
                    <div class="col-sm-6">
                        <div class="container">
                            <h5>Upload Profile Picture</h5>
                         </div>
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"></div>
                            <div>
                                <span class="btn btn-file">
                                <input type="file" />
                                </span>
                            </div>
                       </div>
                        
                    </div>
                    
                    
                    
                 <div>
                     
                     <label class="checkbox-inline"><input type="checkbox" value="">Keep This Information Private</label>
                     
                    <div class="container">
                        <hr>
                    </div>
                    
                    <div class="container">
                        <p><b>Contact Information</b></p>
                    </div>
                    
                    <div class = "row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="language">Email:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="language" placeholder="example@example.com">
                                        </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="language">Phone:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="language" placeholder="(123) 456-789">
                                        </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="language">Webpage/URL:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="language" placeholder="URL">
                                        </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <label class="checkbox-inline"><input type="checkbox" value="">Keep This Information Private</label>
                    
                    
                    <div class="container">
                        <hr>
                    </div>
                    
                    
                     
                     <div class = "row">
                         
                         
                         <div class="col-sm-4">
                             <div class="form-group">
                                 <label class="control-label col-sm-5" for="ccity">Current City:</label>
                                 <div class="col-sm-6">
                                     <input type="text" class="form-control" id="ccity" placeholder="Current City">
                                 </div>
                             </div>
                        </div>
                        
                         <div class="col-sm-2">
                             <div class="form-group">
                                 <label class="control-label col-sm-5" for="state">State:</label>
                                 <div class="col-sm-6">
                                     <input type="text" class="form-control" id="state" placeholder="State">
                                         </div>
                             </div>
                         </div>
                         
                         <div class="col-sm-3">
                             <div class="form-group">
                                 <label class="control-label col-sm-5" for="county">Country:</label>
                                 <div class="col-sm-6">
                                     <input type="text" class="form-control" id="country" placeholder="Country">
                                         </div>
                             </div>
                         </div>
                   
                     </div>
                    
                    <label class="checkbox-inline"><input type="checkbox" value="">Keep This Information Private</label>
                    
                    <div class="container">
                        <hr>
                    </div>
                    
                        <div class = "row">
                         <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-sm-5" for="language">Language:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="language" placeholder="Language">
                            </div>
                        </div>
                        </div>
                        </div>
                        
                        <label class="checkbox-inline"><input type="checkbox" value="">Keep This Information Private</label>
                        
                        <div class="container">
                            <hr>
                        </div>
                        
                        
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="comment">Something about you:</label>
                            <div class="col-sm-5">
                                <textarea class="form-control " rows="5" id="comment"></textarea>
                            </div>
                        </div>
                        
                        <label class="checkbox-inline"><input type="checkbox" value="">Keep This Information Private</label>

                
                <br>
                <br>
                <div class = "row">
                    <div class="col-sm-9">
                        <div class="container">
                            <a href="/" class="btn btn-purple btn-info col-sm-3" role="button">Cancel Building Profile</a>
                        </div>
                    </div>
                    
                    <div class="col-sm-3">
                        <div class="container">
                            <a href="/expertform2" class="btn btn-purple btn-info col-sm-3"  col-sm-3 " role="button">Continue Buidling Profile</a>
                        </div>
                    </div>
                    </div>
                <br>
                <br>
                </div>

                    <div class="background:LightSeaGreen jumbotron vertical-center" style="background:LightSeaGreen         !important">
                        
                        <div class="container">
                            
                            <h1 align = "left">GetExperts</h1>
                            <h4 align = "right">555-555-5555</h4>
                            <h4 align = "right">getexpertsteam@gmail.com</h4>
                            
                        </div>
                    </div>





                </form>
            
            

     
        

        

        
        
        
        <!--PROGRESS BARS !-->


        
        
        <!-- Bootstrap core JavaScript
         ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
