
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    <meta name="description" content="">
                        <meta name="author" content="">
                            <link rel="icon" href="../../favicon.ico">
                                
                                <title>Starter Template for Bootstrap</title>
                                
                                <!-- Latest compiled and minified CSS -->
                                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
                                    
                                    <!-- Optional theme -->
                                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
                                        
                                        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
                                        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
                                        <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
                                        
                                        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
                                        <!--[if lt IE 9]>
                                         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                                         <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
                                         <![endif]-->
                                              <link rel="stylesheet" type="text/css" href="stylesheets/custom.css">
                                            <link rel="stylesheet" type="text/css" href="stylesheets/navbar.css">
                                                <link rel="stylesheet" type="text/css" href="stylesheets/font.css">
                                        </head>
    
    <style>
        
        .jumbotron {
            padding: 0.1em ;
            p {
                font-size: 1.2em;
                .btn {
                    padding: 0.0em;
                }
            }
        }
    
    .vertical-center {
        height:100%;
        width:100%;
        
        text-align: right;  /* align the inline(-block) elements horizontally */
        /* remove the gap between inline(-block) elements */
    }
    
        </style>
    
    
    
    
    <body>
        
         <nav class="navbar navbar-custom">
            <div class="navbar-header">
                
                <a class="navbar-brand" href="#">GetExperts</a>
            </div>
            
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <!-- <li><a href="#">Create Business Profile </a></li>
                     <li><a href="#contact">Create Expert Profile</a></li> -->
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <div class = "nav navbar-nav">
                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" name="q">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                    </div>
                        </form>
                    </div>
                    <li><a href="#">About Us </a></li>
                    <li><a href-"#">Contact Us</a></li>
                </ul>
                
                
                
                </nav>
        
        
        
        
        
        
        
        
        
        
        
        
        
        <!--Just my headers !-->
                <div class="background:LightSeaGreen jumbotron vertical-center" style="background:LightSeaGreen         !important">
            <div class="container">
                <h2>Create an Expert Profile Continued</h2>
                <br>
            </div>
        </div>
        
        <!--Input Fields !-->
        <div class="container">
            <h2>Preferred Project Threshold</h2>
            <p>*-Indicates Required Fields</p>
            <br>
            
            <div class="container">
                <div class="progress">
                    <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                        <span class="sr-only">80% Complete</span>
                    </div>
                </div>
            </div>
            
            <form class="form-horizontal" role="form">
            
            
           <div class="form-group">
                    
                    <label class=" control-label col-sm-2" for="sel1 control-label">Minimum Amount:</label>
                    <div class="col-sm-4">
                        <select class="form-control control-label" id="sel1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>

<div class="container">
    <label class="checkbox-inline"><input type="checkbox" value="">Keep This Information Private</label>
</div>





    <br>
    <br>
    <div class = "row">
        <div class="col-sm-9">
            <div class="container">
                <a href="/ExpertForm3" class="btn btn-info btn-purple col-sm-3" role="button">Go to previous page</a>
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="container">
                <a href="/ExpertFormReview" class="btn btn-info btn-purple col-sm-3 " role="button">Review Profile</a>
            </div>
        </div>
    
    </div>
    





                </form>
        </div>
        
        
        <div class="container">
            <br>
            <br>
        </div>
        
        <div class="background:LightSeaGreen jumbotron vertical-center" style="background:LightSeaGreen         !important">

            
            <div class="container">
                
                <h1 align = "left">GetExperts</h1>
                <h4 align = "right">555-555-5555</h4>
                <h4 align = "right">getexpertsteam@gmail.com</h4>
                
            </div>
        </div>
        
        <!--PROGRESS BARS !-->
        <br>
        <br>
              
        
        <!-- Bootstrap core JavaScript
         ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
