<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Carousel Template for Bootstrap</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">


<!-- Optional theme -->
<!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="stylesheets/carousel.css" rel="stylesheet">
    <link href="stylesheets/customC.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="stylesheets/custom.css">
                                           <link rel="stylesheet" type="text/css" href="stylesheets/navbar.css">
                                             <link rel="stylesheet" type="text/css" href="stylesheets/font.css">
  </head>
<!-- NAVBAR
================================================== -->
  <body>


<nav class="navbar navbar-custom">
<div class="navbar-header">

<a class="navbar-brand" href="#">GetExperts</a>
</div>

<div id="navbar" class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li><a href="#">Home</a></li>

 <% if ( user ) { %>
    <li> <a >Hello <%=user%> </a></li>
  <% } %> 
<!-- <li><a href="#">Create Business Profile </a></li>
<li><a href="#contact">Create Expert Profile</a></li> -->
</ul>

<ul class="nav navbar-nav navbar-right">
<div class = "nav navbar-nav">
</div>
  <% if ( user ) { %>
    <% if ( user.name="Lucy" ) { %>
      <li><a href="/expertHP">My Dashboard</a>
      <% } else { %>
      <li><a href="/businessHP">My Dashboard</a>
      <% } %>


    <li><a href="/myProfile"><span class="glyphicon glyphicon-user"></span></a>
    <li><a href="/logout">Logout</a>
  <% } else { %>
    <li><a href="/register">Register</a>

    <li><a href="/login" >Login</a>

    <!--<a href="/register"  class="button">Register</a>

    <a href="/login"  class="button ">Login</a> -->
  <% } %>
<li><a href="#">About Us </a></li>
<li><a href-"#">Contact Us</a></li>
</ul>



</nav>

   
 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="images/binoculars.jpeg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Search.</h1>
              <p>Look for an expert.</p>
              <!---<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>--->
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="images/checklist.jpeg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Match.</h1>
              <p>Check the list of expertise.</p>
              <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>-->
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="images/handshake.jpeg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Deal.</h1>
              <p>Congrats! Your project is now in good hands.</p>
              <!---<p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>--->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel --> 
   

  <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="images/e.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Create Expert Profile</h2>
          <p>Share your skills to empower businesses and work on relevant projects</p>
          <p><a class="btn btn-default" style="background:LightSeaGreen         !important;color:White"  href="/expertform1" role="button">Create Expert Profile&raquo;</a></p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="images/b.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Create Business Profile</h2>
          <p>Look for highly qualified experts to match your business and project needs </p>
          <p><a class="btn btn-default" style="background:LightSeaGreen         !important; color:White"  href="/businessSignUp" role="button">Create Business Profile&raquo;</a></p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="images/q.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>How This Works</h2>
          <p>Check us out and see if you can find an expert or a project today!<p>
          <p><a class="btn btn-default" style="background:LightSeaGreen          !important; color:White" href="#" role="button">Learn More &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->
<!---
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Businesses, search for Experts <span class="text-muted">It's very easy</span></h2>
          <p class="lead">Just enter key words in the search bar to be matched to relevant experts </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" src="images/business-handshake.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" src="images/projects.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Experts, search for Projects <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Looking to divulge in enginaging projects to broaden your scope. Look no further! </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">We will suggest matches! <span class="text-muted">Just create a profile</span></h2>
          <p class="lead">Our matching algorithm will provide suggestions based on your profile and other active profiles</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" src="images/puzzle.jpeg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider"> --->

      <!-- /END THE FEATURETTES -->

   

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
	<p> <a href=
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>&middot; <a href="#">About Us</a> &middot; <a href="#">Contact Us</a> </p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--<script src="jquery-1.11.2.min.js"></script>-->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
