.navbar-custom {
    background-color:white;
    color:white ;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:LightSeaGreen    ;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: LightSeaGreen   ;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:LightSeaGreen    ;
}