<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
                                
        <title>GetExperts Create Project</title>
                                
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
                                    
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
                                        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->


	   <link rel="stylesheet" type="text/css" href="stylesheets/custom.css">
                                            <link rel="stylesheet" type="text/css" href="stylesheets/navbar.css">
                                                <link rel="stylesheet" type="text/css" href="stylesheets/font.css">
    </head>
    

    <style>
        .jumbotron {
            padding: 0.1em ;
            p {
                font-size: 1.2em;
                .btn {
                    padding: 0.0em;
                }
            }
        }

    .vertical-center {
        height:100%;
        width:100%;
    
        text-align: right;  /* align the inline(-block) elements horizontally */
        /* remove the gap between inline(-block) elements */
    }
    </style>

    <body>
        
        <!--Navigation Bar !-->
         <nav class="navbar navbar-custom">
           <div class="navbar-header">
               
               <a class="navbar-brand" href="#">GetExperts</a>
           </div>
           
           <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                   <li><a href="#">Home</a></li>
                   <!-- <li><a href="#">Create Business Profile </a></li>
                    <li><a href="#contact">Create Expert Profile</a></li> -->
               </ul>
               
               <ul class="nav navbar-nav navbar-right">
                   <div class = "nav navbar-nav">
                       <form class="navbar-form" role="search">
                           <div class="input-group">
                               <input type="text" class="form-control" placeholder="Search" name="q">
                                   <div class="input-group-btn">
                                       <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                   </div>
                                   </div>
                       </form>
                   </div>
                   <li><a href="#">About Us </a></li>
                   <li><a href-"#">Contact Us</a></li>
               </ul>
               
               
               
               </nav>        
        
       <!--Just my headers !-->
        <div style="background:LightSeaGreen         !important" class="jumbotron vertical-center">
            <div class="container">
                <h2>Create a Project</h2>
            </div>
        </div>
        
        
        <!--Input Fields !-->
        <div class="container">
            <form class="form-horizontal" role="form">
                
            <div class="form-group">
                <label class="control-label col-sm-2" for="compname">Project Title:</label>
                <div class="col-sm-4">
                    <input type="Text" class="form-control" id="compname" placeholder="Project Title">
                </div>
            </div>
            
            <div class="container">
                <hr>
            </div>
            
            <!--Expertise Input Fields !-->
                    <div class="form-group">
                        <label class=" control-label col-sm-2" for="sel1 control-label">Expertise Required:</label>
                        <div class="col-sm-4">
                            <select class="form-control control-label" id="sel1">
                                <option>Expertise Area 1</option>
                                <option>Expertise Area 2</option>
                                <option>Expertise Area 3</option>
                                <option>Expertise Area 4</option>
                            </select>
                            
                        </div>
                    </div>
             
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="other">Other:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="other" placeholder="Other">
                        </div>
                    </div>
            
                    <div class="container">
                        <a href="#" class="btn btn-info" role="button btn-purple">Add more</a>
                    </div>
                    
                    
                    <div class="container">
                        <hr>
                    </div>
                    
                    
                    <div class="container">
                        <p><b> Project Time Scope: </b></p>
                    </div>
                    
            
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="sdate"><p>Start Date</p></label>
                        <div class="col-sm-4">
                            <input type="date" name='entry_date' class="form-control" id="entry_date" value="2014-12-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="sdate">End Date</label>
                        <div class="col-sm-4">
                            <input type="date" name='entry_date' class="form-control" id="entry_date" value="2014-12-12">
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="description">Project Description:</label>
                        <div class="col-sm-4">
                            <textarea class="form-control " rows="5" id="description"></textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-2" for="deliverables">Project Deliverables:</label>
                        <div class="col-sm-4">
                            <textarea class="form-control " rows="5" id="deliverables"></textarea>
                        </div>
                    </div>
                    
                    <div class="container">
                        <hr>
                    </div>
                    
                    
                    
                    
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="budget">Project Budget:</label>
                    </div>
                    
                    <div class="container">
                        <p>(Either select an Hourly Rate or enter a Fixed Price)</p>
                    </div>


                    <div class="form-group">
                        <label class=" control-label col-sm-2" for="sel1 control-label">Hourly Rate:</label>
                        <div class="col-sm-4">
                            <select class="form-control control-label" id="sel1">
                                <option>HR 1</option>
                                <option>HR 2</option>
                                <option>HR 3</option>
                                <option>HR 4</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="budget">Fixed Price: </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="budget" placeholder="$0.00">
                        </div>
                    </div>



                    <div class="container">
                        <hr>
                    </div>
                    
                    <div class="container">
                        <p>The project requires the following <b>skills</b>:</p>
                        <p>(these skills will be tagged to this project and be used to match with experts)</p>
                    </div>
                    
                    <div class="form-group">
                        <label class=" control-label col-sm-2" for="sel1 control-label">#1:</label>
                        <div class="col-sm-4">
                            <select class="form-control control-label" id="sel1">
                                <option>Skill W</option>
                                <option>Skill X</option>
                                <option>Skill Y</option>
                                <option>Skill Z</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class=" control-label col-sm-2" for="sel1 control-label">#2:</label>
                        <div class="col-sm-4">
                            <select class="form-control control-label" id="sel1">
                                <option>Skill W</option>
                                <option>Skill X</option>
                                <option>Skill Y</option>
                                <option>Skill Z</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class=" control-label col-sm-2" for="sel1 control-label">#3:</label>
                        <div class="col-sm-4">
                            <select class="form-control control-label" id="sel1">
                                <option>Skill W</option>
                                <option>Skill X</option>
                                <option>Skill Y</option>
                                <option>Skill Z</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class=" control-label col-sm-2" for="sel1 control-label">#4:</label>
                        <div class="col-sm-4">
                            <select class="form-control control-label" id="sel1">
                                <option>Skill W</option>
                                <option>Skill X</option>
                                <option>Skill Y</option>
                                <option>Skill Z</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class=" control-label col-sm-2" for="sel1 control-label">#5:</label>
                        <div class="col-sm-4">
                            <select class="form-control control-label" id="sel1">
                                <option>Skill W</option>
                                <option>Skill X</option>
                                <option>Skill Y</option>
                                <option>Skill Z</option>
                            </select>
                        </div>
                    </div>
                    

                    
                    <div class="container">
                        <br>
                        <a href="/ProjectPreview" class="btn btn-info btn-purple" role="button">Preview Profile</a>
                        <br>
                        <br>
                        <br>
                    </div>
                    
                    <div class="container">
                        <br>
                        <a href="#" class="btn btn-info btn-purple" role="button">Publish Later  </a>
                        <br>
                        <br>
                        <br>
                    </div>
                    
                    <div class="container">
                        <br>
                        <a href="/BusinessMyProjectA" class="btn btn-info btn-purple" role="button">Publish Now</a>
                        <br>
                        <br>
                        <br>
                    </div>
                    

                </div>
        
            <div style="background:LightSeaGreen         !important" class="jumbotron vertical-center">
                <div class="container">
                    <h1 align = "left">GetExperts</h1>
                    <h4 align = "right">555-555-5555</h4>
                    <h4 align = "right">getexpertsteam@gmail.com</h4>
                </div>
            </div>
        
            </body>        
        
        <!-- Bootstrap core JavaScript
         ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
