<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    <meta name="description" content="">
                        <meta name="author" content="">
                            <link rel="icon" href="../../favicon.ico">
                                
                                <title>GetExperts Create Project</title>
                                
                                <!-- Latest compiled and minified CSS -->
                                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
                                    
                                    <!-- Optional theme -->
                                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
                                        
                                        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
                                        <!--[if lt IE 9]>
                                         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                                         <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
                                         <![endif]-->

					   <link rel="stylesheet" type="text/css" href="stylesheets/custom.css">
                                            <link rel="stylesheet" type="text/css" href="stylesheets/navbar.css">
                                                <link rel="stylesheet" type="text/css" href="stylesheetsfont.css">
                                        </head>
    
    
    <style>
        .jumbotron {
            padding: 0.1em ;
            p {
                font-size: 1.2em;
                .btn {
                    padding: 0.0em;
                }
            }
        }
    
    .vertical-center {
        height:100%;
        width:100%;
        
        text-align: right;  /* align the inline(-block) elements horizontally */
        /* remove the gap between inline(-block) elements */
    }
    </style>
    
    <body>
        
       <nav class="navbar navbar-custom">
           <div class="navbar-header">
               
               <a class="navbar-brand" href="#">GetExperts</a>
           </div>
           
           <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                   <li><a href="#">Home</a></li>
                   <!-- <li><a href="#">Create Business Profile </a></li>
                    <li><a href="#contact">Create Expert Profile</a></li> -->
               </ul>
               
               <ul class="nav navbar-nav navbar-right">
                   <div class = "nav navbar-nav">
                       <form class="navbar-form" role="search">
                           <div class="input-group">
                               <input type="text" class="form-control" placeholder="Search" name="q">
                                   <div class="input-group-btn">
                                       <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                   </div>
                                   </div>
                       </form>
                   </div>
                   <li><a href="#">About Us </a></li>
                   <li><a href-"#">Contact Us</a></li>
               </ul>
               
               
               
               </nav>            
            <!--Just my headers !-->
            <div style="background:LightSeaGreen         !important" class="jumbotron vertical-center">
                <div class="container">
                    <h2>View Project</h2>
                </div>
            </div>
            
            <div class="container">
                
                    <br>
                    <font size = "15">DataTron 2.0</font>
                    <h4>XYZ Co.</h4>
                    <br>
                    <h3>Description:</h3>
                    <blockquote>This project requires development in ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ... etc ...</blockquote>
                    <br>
                    <br>
                    <br>
                    <h4>Looking for the following skillsets:</h4><h2>Toxicology, Product Marketing</h2>
                    
                    <br>
                    
                    <h4>This project is:</h4><h2><font color="blue">Currently looking for Experts</font></h2>
                    <br>
                    
                    <a href="#" class="btn btn-info" role="button">Submit Join Request</a>
                    <br>
                    <br>


            </div>
            
            <br>
            <br>
            <br>

            <div style="background:LightSeaGreen         !important" class="jumbotron vertical-center">
                <div class="container">
                    <h1 align = "left">GetExperts</h1>
                    <h4 align = "right">555-555-5555</h4>
                    <h4 align = "right">getexpertsteam@gmail.com</h4>
                </div>
            </div>
        </div>
   
        
    </body>
    
    
    
    <!-- Bootstrap core JavaScript
     ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
