
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    <meta name="description" content="">
                        <meta name="author" content="">
                            <link rel="icon" href="../../favicon.ico">
                                
                                <title>GetExperts Create Project</title>
                                
                                <!-- Latest compiled and minified CSS -->
                                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
                                    
                                    <!-- Optional theme -->
                                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
                                        
                                        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
                                        <!--[if lt IE 9]>
                                         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                                         <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
                                         <![endif]-->

   <link rel="stylesheet" type="text/css" href="stylesheets/custom.css">
                                            <link rel="stylesheet" type="text/css" href="stylesheets/navbar.css">
                                                <link rel="stylesheet" type="text/css" href="stylesheets/font.css">

                                        </head>
    
    
    <style>
        .jumbotron {
            padding: 0.1em ;
            p {
                font-size: 1.2em;
                .btn {
                    padding: 0.0em;
                }
            }
        }
    
    .vertical-center {
        height:100%;
        width:100%;
        
        text-align: right;  /* align the inline(-block) elements horizontally */
        /* remove the gap between inline(-block) elements */
    }
    </style>
    
    <body>
        
        <!--Navigation Bar !-->
       
       <nav class="navbar navbar-custom">
           <div class="navbar-header">
               
               <a class="navbar-brand" href="#">GetExperts</a>
           </div>
           
           <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                   <li><a href="#">Home</a></li>
                   <!-- <li><a href="#">Create Business Profile </a></li>
                    <li><a href="#contact">Create Expert Profile</a></li> -->
               </ul>
               
               <ul class="nav navbar-nav navbar-right">
                   <div class = "nav navbar-nav">
                       <form class="navbar-form" role="search">
                           <div class="input-group">
                               <input type="text" class="form-control" placeholder="Search" name="q">
                                   <div class="input-group-btn">
                                       <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                   </div>
                                   </div>
                       </form>
                   </div>
                   <li><a href="#">About Us </a></li>
                   <li><a href-"#">Contact Us</a></li>
               </ul>
               
               
               
               </nav>          
  <!--Just my headers !-->
             <div style="background:LightSeaGreen         !important" class="jumbotron vertical-center">                <div class="container">
                    <h2>View Project</h2>
                </div>
            </div>
        
        
        <!--Input Fields !-->
        <div class="container">
            <form class="form-horizontal" role="form">
                <p><font size = "5"><b>Project Title:</b></font> [Project Name]</p>
                
                <p><font size = "5"><b>Area of Expertise:</b></font> Expertise Area 3</p>
                
                <p><font size = "5"><b>Project Time Scope:</b></font>[Start Date] to [End Date]</p>
                
                <p><font size = "5"><b>Project Description:</b></font>description.description.description.description.description.description.description.</p>
                
                <p><font size = "5"><b>Project Deliverables:</b></font>deliverables.deliverables.deliverables.deliverables.deliverables.deliverables.</p>
   
                <p><font size = "5"><b>Project Budget:</b></font> $25/hr</p>
                
                <p><font size = "5"><b>Skills Required:</b></font>Skill, W, Skill X, Skill Y</p>
   
            </form>
                
                <div class="container">
                    <br>
                    <a href="/BusinessMyProjectA" class="btn btn-info btn-purple" role="button">Publish Now</a>
                </div>
                
                <div class="container">
                    <br>
                    <a href="#" class="btn btn-info btn-purple" role="button">Publish Later  </a>
                    <br>
                    <br>
                    <br>

                </div>
            
                
                
                </div>
        
         <div style="background:LightSeaGreen         !important" class="jumbotron vertical-center">            <div class="container">
                <h1 align = "left">GetExperts</h1>
                <h4 align = "right">555-555-5555</h4>
                <h4 align = "right">getexpertsteam@gmail.com</h4>
            </div>
        </div>
        
    </body>
    
    
    
    <!-- Bootstrap core JavaScript
     ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>

