<!DOCTYPE html>
<html>
<head>
	<title>
		<!--<%=title %>-->
		Lets get started
	</title>

	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
</head>
<body>
	<% for(var i in messages) { %>
	<div class="flash"><%= messages[i] %></div>
	<% } %>

	<div class="container">
		<form class="form-signin" action="/register" method="post">
        	<h2 class="form-signin-heading text-center">Lets get Started!</h2>
        
	        <label for="username" class="sr-only">Username</label>
	        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>

	        <label for="name" class="sr-only">Name</label>
	        <input type="text" id="name" name="name" class="form-control" placeholder="Name" required autofocus>

	        <label for="email" class="sr-only">E-mail</label>
	        <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required>
	        
	        <label for="password" class="sr-only">Password</label>
	        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
	        
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      	</form>

</body>
</html>
